/* Using the below area for border styles for testing/viewing (temporary) */

.dashboard-outline-test {
	/*border: 1px solid black;*/
	height: 700px;
}

/* Using the above area for border styles for testing/viewing (temporary) */

html *{
	font-family: 'Mukta Mahee', sans-serif;
}

body{
	min-height: 100%;
	background-size: cover;
	background-image: url("./images/jump.jpg");
}

.header{
	min-width: 100%;
}


.logo{
	height: 75px;
	width: 75px;
	border-style: solid;
	border-width: 1px;
	border-color: #827f7f;
	margin: -5px;
}

.navbar{
	padding: 15px;
	margin-bottom: 0px;
	background-color: #fcfcfc;
	opacity: 0.8;
}

.navbar_about{
	padding: 10px;
	float: right;
	display:inline;
	color: black;
}

.navbar_profile{
	padding: 10px;
	float: right;
	display: inline;
	color: black;
}

.navbar_brand{
	/*padding: 10px;*/
	
}

.login{
	max-width: 80%;
	border-width: 1px;
	border-color: #827f7f;
	border-style: solid;
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 50px;
	background-color: #fcfcfc;
	opacity: 0.9;
}

.create_btn {
	margin-right: 15px;
}

.form {
	border-width: 1px;
	border-color: #827f7f;
	border-style: solid;
	padding: 60px;
	margin-bottom: 30px;
	margin-top: 50px;
	background-color: #fcfcfc;
}

.formButton {
	min-width: 100%;
}

.about{
	border-width: 1px;
	border-color: #827f7f;
	border-style: solid;
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 50px;
	background-color: #fcfcfc;
}

.about_img{
	height: 150px;
	width: 150px;
	border-radius: 15px;
}

.bio{
	padding-top: 7px;
	word-wrap: break-word;
}


.goalInput {
	font-size: 25px;
}

.taskInput {
	font-size: 20px;
}
  
.dashboard{
	border-width: 1px;
	border-color: #827f7f;
	border-style: solid;
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 50px;
	background-color: #fcfcfc;
}

.avatar{
	width: 100%;
}

.complete_btn{
	margin-top: 20px;
	margin-bottom: 10px;
}

.complete-task {
	margin: 5px;
	padding: 5px;
}

.success{
	border-width: 1px;
	border-color: #827f7f;
	border-style: solid;
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 50px;
	background-color: #fcfcfc;
}

.success_btn{
	margin-top: 10px;
}

.task-text {
	text-align: left;
}
/* TODO: change below to whatever we want for completed tasks. Just need to test*/
.task-complete {
	color: gray;
}