/* Using the below area for border styles for testing/viewing (temporary) */

.dashboard-outline-test {
	border: 2px solid red;
	height: 700px;
}

/* Using the above area for border styles for testing/viewing (temporary) */
body{
	min-height: 100%;
	background-size: 100%;
	background-image: url("./images/jump.jpg");
}

.header{
	min-width: 100%;
}

.navbar{
	padding: 15px;
	margin-bottom: 0px;
	background-color: white;
	opacity: 0.8;
}

.navbar_about{
	padding: 10px;
}

.navbar_profile{
	padding: 10px;
}

.navbar-brand{
	padding: 10px;
}