/* Using the below area for border styles for testing/viewing (temporary) */

.dashboard-outline-test {
	border: 2px solid red;
	height: 700px;
}

/* Using the above area for border styles for testing/viewing (temporary) */

html *{
	font-family: 'Mukta Mahee', sans-serif;
}

body{
	min-height: 100%;
	background-size: cover;
	background-image: url("./images/jump.jpg");
}

.header{
	min-width: 100%;
}

.navbar{
	padding: 15px;
	margin-bottom: 0px;
	background-color: white;
	opacity: 0.8;
}

.navbar_about{
	padding: 10px;
	float: right;
	display:inline;
	color: black;
}

.navbar_profile{
	padding: 10px;
	float: right;
	display: inline;
	color: black;
}

.navbar-brand{
	padding: 10px;
	color: black;
}

.login{
	max-width: 80%;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 50px;
	background-color: white;
	opacity: 0.8;
}

.formButton {
	min-width: 100%;
}

.about{
	border-width: 1px;
	border-color: black;
	border-style: solid;
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 50px;
	background-color: white;
}

.about_img{
	height: 150px;
	width: 150px;
}

.bio{
	word-wrap: break-word;
}